body { margin: 0; padding: 0; overflow: hidden; background: #000; font-family: 'Arial', sans-serif; }

/* Lobby Screen */
#lobby-screen {
    position: fixed; width: 100%; height: 100%;
    background-image: url('lobby-forest.jpg'); background-size: cover; background-position: center;
    display: flex; justify-content: center; align-items: center; z-index: 3000;
}

.lobby-card {
    background: rgba(255, 255, 255, 0.9); padding: 30px; border-radius: 20px;
    border: 5px solid #27ae60; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.btn-start {
    background: #27ae60; color: white; border: none; padding: 15px 30px;
    font-size: 18px; border-radius: 50px; cursor: pointer; font-weight: bold;
}

/* Joystick di Kiri Bawah */
#joystick-container {
    position: fixed; bottom: 40px; left: 40px;
    width: 120px; height: 120px; z-index: 2000; touch-action: none;
}

/* Tombol Lompat Bulat di Kanan Bawah */
#jump-btn-mobile {
    position: fixed; bottom: 60px; right: 40px;
    width: 85px; height: 85px; border-radius: 50%;
    background: #f1c40f; color: white; border: 4px solid white;
    font-weight: bold; z-index: 2000; touch-action: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); display: block;
}

/* Modal Kuis */
.hidden { display: none !important; }
#quiz-modal {
    position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
    z-index: 4000; background: white; padding: 25px; border-radius: 15px;
    text-align: center; border: 4px solid #f1c40f; width: 85%; max-width: 350px;
}

