body { margin: 0; padding: 0; overflow: hidden; background: #000; font-family: 'Arial', sans-serif; }

/* --- BACKGROUND LOBBY (BEDA DENGAN GAME) --- */
#lobby-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    /* Ganti assets/lobby-bg.png dengan nama file gambar lobby kamu */
    background-image: url('assets/llobby-forest.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lobby-card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    border: 5px solid #27ae60;
    text-align: center;
}

/* --- JOYSTICK / KONTROL HP (DIPERBAIKI) --- */
#mobile-controls {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row { display: flex; justify-content: center; }

.ctrl-btn {
    width: 60px;
    height: 60px;
    margin: 3px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jump-btn { width: 100px; background: #f1c40f; }

/* UI KUIS */
.hidden { display: none !important; }
#quiz-modal {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: 4px solid #f1c40f;
    width: 80%;
    max-width: 350px;
}